.gradle/
build/
out/
run/
.idea/
.vscode/
logs/
log/
crash-reports/
crash-reports-*/
config/
debug/
tmp/
temp/
local/
exports/
reports/
*.sparkprofile
*.json.txt
*.log
*.tmp
*.jar
!gradle/wrapper/gradle-wrapper.jar
